Source: asterisk
Priority: optional
Section: comm
Maintainer: Paul Belanger <paul.belanger@polybeacon.com>
XSBC-Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 6.0.7),
 lsb-base (>= 3.2-14),
 libreadline-dev | libreadline5-dev,
 libgsm1-dev,
 libssl-dev,
 libtonezone-dev (>= 1:2.0.0),
 unixodbc-dev,
 libpri-dev (>= 1.4.11),
 libss7-dev,
 dahdi-source,
 autotools-dev,
 libspeex-dev,
 libspeexdsp-dev,
 libcurl4-openssl-dev | libcurl-dev,
 libxml2-dev,
 libpopt-dev,
 libiksemel-dev,
 libsnmp-dev,
 libc-client2007e-dev | libc-client2007b-dev,
 libgmime-2.0-2-dev | libgmime2-dev,
 libcap-dev (>= 1:2.16-4) | libcap2-dev,
 libspandsp-dev,
 libresample1-dev,
 libopenais-dev,
 libneon27-dev,
 libical-dev,
 zlib1g-dev
Standards-Version: 3.9.1
Homepage: http://www.asterisk.org/
Vcs-Git: git://github.com/kickstandproject/asterisk.git
Vcs-Browser: https://github.com/kickstandproject/asterisk

Package: asterisk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, asterisk-config (= ${source:Version}) | asterisk-config-custom, adduser, asterisk-core-sounds-en-gsm
Provides: asterisk-1.8
Recommends: sox, asterisk-voicemail | asterisk-voicemail-storage, asterisk-moh-opsound-wav
Suggests: asterisk-doc, asterisk-dev, asterisk-dahdi
Description: Open Source Private Branch Exchange (PBX)
 Asterisk is an Open Source PBX and telephony toolkit.  It is, in a
 sense, middleware between Internet and telephony channels on the bottom,
 and Internet and telephony applications at the top.
 .
 Asterisk can be used with Voice over IP (SIP, H.323, IAX and more) standards,
 or the Public Switched Telephone Network (PSTN) through supported hardware.
 .
 Supported hardware:
 .
  * All Wildcard (tm) ISDN PRI cards from Digium (http://www.digium.com)
  * HFC-S/HFC-4S-based ISDN BRI cards (Junghanns.NET, beroNet, Digium etc.)
  * All TDM (FXO/FXS) cards from Digium
  * Various clones of Digium cards such as those by OpenVox
  * Xorcom Astribank USB telephony adapter (http://www.xorcom.com)
  * CAPI-compatible ISDN cards (using the add-on package chan-capi)
  * Full Duplex Sound Card (ALSA or OSS) supported by Linux
  * Tormenta T1/E1 card (http://www.zapatatelephony.org)
  * QuickNet Internet PhoneJack and LineJack (http://www.quicknet.net)
 .
 This is the main package that includes the Asterisk daemon and most channel
 drivers and applications.

Package: asterisk-h323
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Description: H.323 protocol support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This channel driver (chan_h323) provides support for the H.323 protocol
 for Asterisk. This is an implementation originally contributed by NuFone and
 nowdays maintained and distributed by Digium, Inc. Hence, it is considered 
 the official H.323 chanel driver.
 .
 There is another H.323 channel implementations for Asterisk: chan_ooh323,
 distributed by Debian as asterisk-ooh323c.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-dahdi
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}, dahdi
Breaks: asterisk (<<1.8.0)
Replaces: asterisk (<<1.8.0)
Description: DAHDI devices support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes the DAHDI channel driver (chan_dahdi.so) and a
 number of other Asterisk modules that require DAHDI support (app_meetme.so,
 res_timing_dahdi.so). They will not be useful without kernel-level DAHDI
 support.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-voicemail
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Provides: asterisk-vocemail-storage
Conflicts: asterisk-vocemail-storage
Breaks: asterisk (<<1.8.0)
Replaces: asterisk (<<1.8.0)
Description: simple voicemail support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes the standard files-based voicemail storage. This
 is normally the one you use and is the one that will Just Work. The only
 reason not to install it is if you want to use a different Asterisk
 voicemail storage (ODBC or IMAP).
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-voicemail-imapstorage
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Provides: asterisk-vocemail-storage
Conflicts: asterisk-vocemail-storage
Breaks: asterisk (<<1.8.0)
Replaces: asterisk (<<1.8.0)
Description: IMAP voicemail storage support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes an IMAP-based voicemail storage: storing the
 voicemail in a remote IMAP mail boxes. While more complex to set up,
 it may be useful in some settings.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-voicemail-odbcstorage
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Provides: asterisk-vocemail-storage
Conflicts: asterisk-vocemail-storage
Breaks: asterisk (<<1.8.0)
Replaces: asterisk (<<1.8.0)
Description: ODBC voicemail storage support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes an database-based voicemail storage: storing the
 voicemail in a database accessed through the ODBC interface. While more
 complex to set up, it may be useful in some settings.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-ooh323
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Description: H.323 protocol support for the Asterisk PBX - ooH323c
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This channel driver (chan_ooh323c) provides support for the H.323 protocol
 for Asterisk. This is an independent implementation that does not depend
 on OpenH323, but may be less functional than the original chan_h323.
 .
 This is one of many H.323 channel implementations for Asterisk with other
 being chan_h323, distributed by Debian as asterisk-h323.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-mp3
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Description: MP3 playback support for the Asterisk PBX (DUMMY)
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package SHOULD provide support for playing MP3-encoded files in
 Asterisk. Due to build issues it is merely an empty package for now.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-mysql
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Description: MySQL database protocol support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package provides support for using a MySQL database to store
 configuration, call-detatils record, and also provides generic access to
 it from the dialplan.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-mobile
Architecture: any
Depends: asterisk, ${shlibs:Depends}, ${misc:Depends}
Description: Bluetooth phone support for the Asterisk PBX
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package provides support for connecting Bluetooth devices to the
 Asterisk PBX. It allows you to:
   * Send and receive PSTN calls and SMS messages over a Bluetooth phone.
   * Use a Bluetooth handset as a local phone connected to your PBX.
 .
 For more information about the Asterisk PBX, have a look at the Asterisk
 package.

Package: asterisk-doc
Depends: ${misc:Depends}
Recommends: asterisk
Section: doc
Priority: extra
Architecture: all
Description: Source code documentation for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the documentation for configuring an Asterisk system.

Package: asterisk-dev
Architecture: all
Depends: ${misc:Depends}
Recommends: asterisk
Section: devel
Priority: extra
Replaces: asterisk (<< 1:1.4.21.1~dfsg-1)
Description: Development files for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the include files used if you wish to compile a
 package which requires Asterisk's source file headers.

Package: asterisk-dbg
Architecture: any
Depends: asterisk (= ${binary:Version}), ${misc:Depends}
Section: debug
Priority: extra
Description: Debugging symbols for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package includes the debugging symbols useful for debugging
 Asterisk. The debugging symbols are used for execution tracing and core 
 dump analysis. 

Package: asterisk-config
Depends: ${misc:Depends}
Recommends: asterisk
Conflicts: asterisk-config-custom
Architecture: all
Description: Configuration files for Asterisk
 Asterisk is an Open Source PBX and telephony toolkit.
 .
 This package contains the default configuration files of Asterisk.
